.wrapper {
    background-image: url(background.jpg);
    background-repeat: no-repeat; 
    background-position: center ;
    margin: 0;
    color: aliceblue;
    
}
.main-list {
    font-size: 20px;
    margin-left: 10%;
    
}
.inserted-list {
    font-size: 80%;
    
}.header {
    text-align: right;
}
li {
    margin-bottom: 20px;
}

